<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlaskApp</title>
    <link rel="stylesheet" href="static\main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

</head>
<body>
    <div class="top">
        <h2 class="nav-link">
            <a href="/">Home</a>
        </h2>
        <h2 class="nav-link">
            <a href="shipsum">SHIP IMO sums</a>
        </h2>
        <h2 class="nav-link">
            <a href="shipaverage">SHIP IMO Average</a>
        </h2>
    </div>
    <div class="container">

       
        <table id="jds-example" class="table">
            <thead>
                <tr>
                    {% for col in shipinfo.columns %}
                    <th>
                    <a href=?sortby={{col}}>
                        {{ col }}
                    </a>
                    </th>
                
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                    {% for key, value in shipinfo.iterrows() %}
                <tr>
                        {% for k in value %}
                    <td scope="row">{{ k }}</td>
                        {% endfor %}
                </tr>
                    {% endfor %}
            </tbody>
        </table>
        
        </div>
        
</body>
</html>